# Compiled Python files
*.pyc
*.php~
.php_cs.cache

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.extra

.config/**
!.config/nvim/init.vim
!.config/alacritty/alacritty.yml
!.config/composer/composer.json

# Editors
*.sublime-project
*.sublime-workspace
.octave_hist
.php_history
.python_history
.viminfo
